body,h3,h4,h5,p, figure{
    margin:0;
}
a{
    text-decoration: none;
    color:black;
}
.clearfix::after{
    content: "";
    display: table;
    clear: both;
}
header nav{
    position: fixed;
    width: 100%;
    background-color: rgba(0,255,255,0.5);
}
header nav div{
    width: 50%;
    float: left;
    padding :12px;
}
header nav ul{
    float: right;
    list-style: none;
    margin:0;
    padding: 0;
}
header nav ul li{
    float: left;
    padding :12px;
}
header section{
    float: left;
    width: 50%;
}
section img{
    display: block;
    width: 100%;
    height: 100vh;
}
header section article{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 0 60px;
}
main{
    max-width: 970px;
    margin: 20px auto;
}
main section{
    padding-top:50px
}
main section h2{
    text-align: center;
}
main .aboutUs figure{
    width: 30%; 
    float: left;
}
main .aboutUs figure img{
    height: 200px;
}
main .aboutUs figure:first-of-type{
    margin-right: 5%;
}
main .aboutUs figure:last-of-type{
    margin-left: 5%;
}
main .aboutUs figure figcaption{
    margin:20px;
}
main .blog > div{
    width: 30%;
    float: left;
}
main .blog > div{
    width: 30%;
    float: left;
    margin-bottom: 20px;
}
main .blog > div:nth-of-type(3n-1){
    margin-left: 5%;
    margin-right: 5%;
}
main .blog > div img{
    height: 150px;
}
main .contact article{
    float: left;
    width: 40%;
    padding: 5% 5% 0 5%;
    
}
main .contact article p{
    line-height: 24px;
}
main .contact article i{
    font-size: 25px;
    width: 30px;
    padding: 5px;
    text-align: center;
}
main .contact article:last-child{
    width: 25%;
    padding-left: 15%;
}
footer{
    background-color:rgba(0,255,255,0.5);
    padding:40px  60px 60px 60px;
}
footer h1{
    margin:0;
    float: left;
    vertical-align: middle;
}
footer p{
    float: right;
    line-height:34px;
}
footer a {
    position: fixed;
    bottom: 150px;
    right: 70px;
    font-size: 42px;
    color: rgba(0,255,255,0.5);
}